// https://coolors.co/1a1a1d-d3d4d9-4b88a2-bb0a21-fff9fb
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

$page-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
$editor-font: "Roboto Mono", "Courier New", Courier, monospace;

$mobile-breakpoint: 380px;

$blue-munsell: #4b88a2;
$firebrick: #bb0a21;

$erie-black: #1A1A1D;
$raisin-black: #27272B;
$light-gray: #d3d4d9;
$snow: #fff9fb;
$tea-green: #C4D6B0;
$celadon-blue: #477998;
$tart-orange: #F64740;
$crimson-ua: #A3333D;
$purple: #b5179e;

$normal-border: $celadon-blue;
$text-base: $light-gray;
$text-highlight: $tea-green;
$text-ultralight: $snow;
$action-color: $tart-orange;

// Text sizes
$ts-tiny: 0.7em;
$ts-xs: 0.8em;
$ts-sm: 0.85em;
$ts-normal: 0.9em;
$ts-med: 1.15em;
$ts-lg: 1.4em;
$ts-xl: 1.8em;

// Padding values
$padding: 0.5em;
$padding-normal: $padding;
$padding-med: 0.75em;
$padding-lg: 1.0em;
$padding-xl: 1.75em;
$padding-sm: 0.25em;
$padding-xs: 0.125em;

// Line heights
$line-height: 1.5em;

// Text colors
$txt-normal: $text-base;
$txt-faded: adjust-color($text-base, $lightness: -40%);
$txt-error: $text-base;
$txt-light: $text-base;
$txt-loud: $celadon-blue;
$txt-mid: adjust-color($celadon-blue, $lightness: 20%);
$txt-action: $text-highlight;

// Radii
$border-radius: 5px;

// Specific control colors (Maybe move to component level?)
$page-background: $erie-black;

$editor-background: adjust-color($page-background, $lightness: -4%);
$editor-border: $normal-border;
$editor-outline: $normal-border;

$panel-background: adjust-color($page-background, $lightness: -2%);
$panel-background-active: adjust-color($page-background, $lightness: -4%);
$panel-background-hover: adjust-color($page-background, $lightness: -6%);

$dropdown-hover: adjust-color($page-background, $lightness: 0.25%);
$dropdown-background: adjust-color($page-background, $lightness: -5%);
$dropdown-border: adjust-color($normal-border, $lightness: -20%);
$dropdown-separator: adjust-color($normal-border, $alpha: -0.92);

$button-background: adjust-color(purple, $lightness: 10%);
$button-background-hover: adjust-color($button-background, $lightness: 10%);

// Syntax colors
$symbol: #35C0EF; 
$function: #3BFAC7;
$math: F57F9B;
$gold: gold;
$silver: silver;
$copper: rgb(228, 183, 125);
$item: rgb(205, 117, 185);
$underlight: adjust-color($symbol, $alpha: -0.7);

$kw-price-source: orange;
$kw-value-source: green;

@mixin text-gradient($name, $deg, $top-color, $bottom-color) {
  #{$name} {
    background-color: #{$top-color};
    background-image: linear-gradient(#{$deg}, #{$top-color}, #{$bottom-color});
    background-size: 100%;
    background-clip: text;
    backface-visibility: hidden;
    -webkit-background-clip: text;
    -moz-backface-visibility: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
  }
}