@font-face {
  font-family: 'Batch';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: local('Batch'), url('~@/assets/fonts/batch-icons-webfont.woff') format('woff'),
       url('~@/assets/fonts/batch-icons-webfont.eot?#iefix') format('embedded-opentype'),
       url('~@/assets/fonts/batch-icons-webfont.ttf') format('truetype'),
       url('~@/assets/fonts/batch-icons-webfont.svg#batchregular') format('svg');
}

.icon.play:before {
  content: "\f16b";
}

.icon.terminal:before {
  content: "\f060";
}

.icon.nope:before {
  content: "\f15b";
}

.icon.curly:before, .icon.function:before {
  content: "\f063";
}

.icon.square:before {
  content: "\f064";
}

.icon.command:before {
  content: "\f065";
}

.icon.meatball:before {
  content: "\f141";
}

.icon.checkbox:before {
  content: "\f164";
}

.icon.xbox:before {
  content: "\f165";
}

.icon.merge:before {
  content: "\f176";
}

.icon.swap:before, .icon.symbol:before {
  content: "\f0bb";
}

.icon.bulb:before {
  content: "\f12d";
}

.icon.clipboard:before {
  content: "\f05e";
}

.icon.share:before {
  content: "\f02a";
}